html{
    height: 100%;
}

body {
    height: 100%;
}
main{
    height: 100%;
    margin-left: calc(20% + 10px);
    overflow: auto;
    text-align: center;
}

main.closedmenu{
    margin-left: calc(40px + 10px);
}

#top{
    height: 15rem;
    padding: 0.5rem;
    border: 0.5rem #336699 solid;
    border-radius: 0.4rem;
    width: calc(100% - 2.1rem);
    display: flex;
    margin-top: 0.2rem;



}
#weather{
    padding: 0.5rem;
    text-align: left;
    float: left;
    width: 25%;
    height: 60%;
    border-radius: 0.4rem;
    background: #336699;
    color: white;
}
#weatherImg img {
    width: 40%;
    float: right;
}
#city{
    font-size: 2em;

}
#temp{
    font-size: 3.6em;

}
#desc{
    font-size: 1.5em;

}
#wind{
    font-size: 1.25em;
    float: right;

}


#scoreBoard{
    overflow-y: scroll;
    width: 50%;
    height: 100%;
    display: inline-block;
    margin-top: -0.22rem;

}
#totalScore{
    float: right;
    margin-right: 0.5rem;
    background: #336699;
    color: white;
    border-radius: 0.4rem;
    height: 50%;
    width: 20%;
    padding: 0.3rem
}
#score{

}

#distance{

}

#googleMap{
    height: calc(100% - 18rem);
    width: calc(100% - 1.1rem);
    border: 0.5rem solid rgb(255,235,161);
    border-radius: 1rem;
}


table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 8px;
    color: white;
}

table tr{
    background-color:#336699;
}


table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightslategray;
    color: white;
    border-radius: 0.5rem;
}

th:first-child{
    width: 13%;
}

nav {
    background-color: #eeeeee;
    padding: 0.3rem;
    width: 20%;
    float: left;
    font-size: 0.8rem;
    height: calc(100% - 0.55rem);
}
#navelem{
    display: none;
}
nav.closedmenu{
    width:4rem;
}


button{
    margin: 0.2rem;
    font-size: 0.75rem;
    padding: 0.5rem;
    background: rgb(201,239,187);
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    color: black;
    background-size:40px;
    border: 0px;
    border-radius: 0.2rem;
}
#tipnChallenge button{
    font-size: 2em;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    border-radius: 1rem;
    height: 10rem;
}
#startRoute{
    position: absolute;
    bottom: 3rem;
    background-color: rgba(0, 255, 0, 0.3);
    left: 25rem;
    border: 0.35rem solid black;
    height: 15rem;
    width: 15rem;
    border-radius: 50rem;
    font-size: 3em;
    font-weight: 900;
}

section.popup {
    display: none;
    width:100vw;
    height:100vh;
    background: rgba(105,100,100,0.8); /* or rgba(255, 255, 255, 0.5);*/
    position: absolute;
    top:0px;
    left:0px;
    margin-left:0px;
}

.popupbackgroud{
    padding: 5vmin;
    position: absolute;
    top: 10vmin;
    left: 50vw;
    margin-left: -35vmin; /*half-width + padding*/
    background: ghostwhite;
    width: 60vmin;
}
