html{
    height: 100%;
}

body {
    height: 100%;
}
main{
    height: 100%;
    margin-left: calc(20% + 10px);
    overflow: auto;
    text-align: center;
}

main.closedmenu{
    margin-left: calc(40px + 10px);
}

#top{
    height: 15rem;
    padding: 0.5rem;
    border: 0.5rem #336699 solid;
    border-radius: 0.4rem;
    width: calc(100% - 2.1rem);
    display: flex;
    margin-top: 0.2rem;



}
#weather{
    padding: 0.5rem;
    text-align: left;
    float: left;
    width: 25%;
    height: 60%;
    border-radius: 0.4rem;
    background: #336699;
    color: white;
    margin-right: 0.5rem;

}
#weatherImg img {
    width: 40%;
    float: right;
}
#city{
    font-size: 2em;
    display: flex;

}
#temp{
    font-size: 3.6em;
    display: flex;

}
#desc{
    font-size: 1.5em;

}
#wind{
    font-size: 1.25em;

}


#scoreBoard{
    overflow-y: scroll;
    width: 50%;
    height: 100%;
    display: inline-block;
    margin-top: -0.22rem;
    margin-right: 0.5rem;

}
#totalScore{
    float: right;
    margin-right: 0.5rem;
    background: #336699;
    color: white;
    border-radius: 0.4rem;
    height: 50%;
    width: 20%;
    padding: 0.3rem
}
#score{

}

#distance{    color: #336699;
    font-size: 1.65em;
    font-weight: 900;
}



#googleMap{
    height: calc(100% - 18rem);
    width: calc(100% - 1.1rem);
    border: 0.5rem solid rgb(255,235,161);
    border-radius: 1rem;
}


table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
acceptedChallenges.table{
    font-family: sans-serif;
    border-collapse: collapse;
    align-items: center;
    width: 70%;
}

table td, table th {
    padding: 8px;
    color: white;
    border:0.25rem solid white;
    border-radius: 0.5rem;
}

table tr{
    background-color:#336699;
}


table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightslategray;
    color: white;
    border-radius: 0.5rem;
}

th:first-child{
    width: 13%;
}

nav {
    background-color: #eeeeee;
    padding: 0.3rem;
    width: 20%;
    float: left;
    font-size: 0.8rem;
    height: calc(100% - 0.55rem);
}

nav img{
    width: 5rem;
    height: 5rem;
}
#navelem{
    display: none;
}
nav.closedmenu{
    width:5.5rem;
}


button{
    margin: 0.2rem;
    font-size: 0.75rem;
    padding: 0.5rem;
    background: #336699;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    color: white;
    background-size:40px;
    border: 0px;
    border-radius: 0.2rem;
}
#tipnChallenge button{
    font-size: 2em;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    border-radius: 1rem;
    height: 10rem;
}
#startRoute{
    position: absolute;
    bottom: 3rem;
    background-color: rgba(0, 255, 0, 0.3);
    left: 25rem;
    border: 0.35rem solid black;
    height: 15rem;
    width: 15rem;
    border-radius: 50rem;
    font-size: 3em;
    font-weight: 900;
}

section.popup {
    display: none;
    width:100%;
    height:100%;
    background: rgba(105,100,100,0.8); /* or rgba(255, 255, 255, 0.5);*/
    position: absolute;
    top:0px;
    left:0px;
    margin-left:0px;
}

.popupbackgroud{
    height: 35rem;
    position: absolute;
    top: 20vh; /*calc(100% - 66rem) */
    left:50vw; /* calc(100% - 24rem)*/
    margin-left: -35vmin;
    background: #336699;;
    width: 35rem;
    color: white;
    border: 1rem solid white;
    border-radius: 1rem;
    font-size: 2.2em;
    position: relative;
}
#tip{
    float: left;
    margin-left: 1rem;
}
#tipButton{
    float: right;
    height: 5rem;
    width: 5rem;
    text-align: center;
    background: white;
    color: #336699;;
    border-radius: 1rem;
    font-size: 1em;
    margin-right: 1rem;
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;
}
#accept{
    float: right;
    height: 5rem;
    width: 10rem;
    text-align: center;
    background: white;
    color: #336699;;
    border-radius: 1rem;
    font-size: 1em;
    margin-right: 1rem;
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;
}
#done{
    float: right;
    height: 5rem;
    width: 10rem;
    text-align: center;
    background: white;
    color: #336699;;
    border-radius: 1rem;
    font-size: 1em;
    margin-right: 1rem;
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;
}
#cancel{
    float: left;
    height: 5rem;
    width: 10rem;
    text-align: center;
    background: white;
    color: #336699;;
    border-radius: 1rem;
    font-size: 1em;
    margin-right: 1rem;
    position: absolute;
    left: 0rem;
    bottom: 0.5rem;
}
#confirm{
    width: 35rem;
}
#confirmEnd{
    font-size: 1em;
}
.popupbackgroud img{
    height: 66%;
    width: 66%;
    border: 0.25rem solid white;
    border: 1rem;
}

#myRange{
    height: 150%;
}


input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 60px;
    width: 30px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}


#share_button{
    height: 100%;
    width:100%;
}

#twitter_button{
    height: 100%;
    width:100%;
}