section.popup {
    display: none;
    width:100vw;
    height:100vh;
    background: rgba(105,100,100,0.8); /* or rgba(255, 255, 255, 0.5);*/
    position: absolute;
    top:0px;
    left:0px;
    margin-left:0px;
}

.popupbackgroud{
    padding: 5vmin;
    position: absolute;
    top: 10vmin;
    left: 50vw;
    margin-left: -35vmin; /*half-width + padding*/
    background: ghostwhite;
    width: 60vmin;
}
main.closedmenu{
    margin-left: calc(40px + 10px);
}
body {
    max-height: calc(100vh - 1.5rem);
}

nav {
    background-color: #eeeeee;
    padding: 0.3rem;
    width: 20%;
    float: left;
    font-size: 0.8rem;
    height: calc(100vh - 2.5rem);
}
nav.closedmenu{
    width:40px;
}

main{
    height: calc(100vh - 1.5rem);
    margin-left: calc(20% + 10px);
    overflow: auto;
    text-align: center;
}
html{
    height: calc(100% - 1.5rem);
}


table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    color: white;
}

table tr{
    background-color:#000022;
}


table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightslategray;
    color: white;
}
#scoreBoard{
    display: inline-block;
    overflow-y: scroll;
    width: 50%;
    height: 17.5%;
}

th:first-child{
    width: 13%;
}

#weather{
    text-align: left;
}
